<script lang="ts" setup>
import {onMounted, onUnmounted, ref, watch, defineComponent, PropType, nextTick} from 'vue';
import {getSunrise, getSunset} from 'sunrise-sunset-js';
import {useTheme} from 'vuetify';
import {mdiWeatherNight, mdiWeatherSunny} from "@mdi/js";

defineComponent({
  name: 'VToggleTheme'
});

// Import von PropType und Definition der props
const props = defineProps({
  themeNameLight: {type: String, default: 'light'},
  themeNameDark: {type: String, default: 'dark'},
  fallbackLocation: {
    type: Object as PropType<{ lat: number, lng: number }>,
    default: () => ({lat: 47.36667, lng: 8.55})
  },
  tooltip: Boolean,
  tipDark: {type: String, default: 'Dark mode'},
  tipLight: {type: String, default: 'Light mode'},
  automatic: {type: Boolean, default: true},
  mdiJsIcons: {type: Boolean, default: false}
});

// Lokale Ref für automatische Einstellungen, initialisiert durch props.automatic
const automatic = ref(props.automatic);
const theme = useTheme();
const lat = ref<number>(0);
const lng = ref<number>(0);
const darkMode = ref<boolean>(false);
let timeoutId: number | undefined = undefined;
const icons = {
  night: props.mdiJsIcons ? mdiWeatherNight : "mdi-weather-night",
  sunny: props.mdiJsIcons ? mdiWeatherSunny : "mdi-weather-sunny",
};

const calculateTimeout = () => {
  const now = new Date().getTime();
  const sunriseTime = getSunrise(lat.value, lng.value).getTime();
  const sunsetTime = getSunset(lat.value, lng.value).getTime();
  let nextEventTime = now > sunsetTime ? getSunrise(lat.value, lng.value, new Date(now + 86400000)).getTime() : sunsetTime;
  if (now < sunriseTime) {
    nextEventTime = sunriseTime;
  }
  return nextEventTime - now;
};

const updateTheme = () => {
  if (automatic.value) {
    const now = new Date().getTime();
    const sunriseTime = getSunrise(lat.value, lng.value).getTime();
    const sunsetTime = getSunset(lat.value, lng.value).getTime();
    darkMode.value = now < sunriseTime || now > sunsetTime;
    theme.global.name.value = darkMode.value ? props.themeNameDark : props.themeNameLight;
    timeoutId = setTimeout(updateTheme, calculateTimeout()) as unknown as number;
  }
};

const switchManually = () => {
  automatic.value = false; // Deaktiviert die automatische Umschaltung, da der Benutzer manuell eingreift
  darkMode.value = !darkMode.value;
  theme.global.name.value = darkMode.value ? props.themeNameDark : props.themeNameLight;
  clearTimeout(timeoutId); // Stoppt den automatischen Timer, wenn manuell umgeschaltet wird
};

onMounted(async () => {
  await nextTick(); // Sicherstellen, dass das DOM bereit ist
  lat.value = props.fallbackLocation.lat;
  lng.value = props.fallbackLocation.lng;
  updateTheme();
});

onUnmounted(() => {
  clearTimeout(timeoutId);
});

watch(() => props.automatic, (newValue) => {
  automatic.value = newValue;
  if (newValue) {
    updateTheme(); // Startet das Theme-Update erneut, wenn automatic wieder aktiviert wird
  } else {
    clearTimeout(timeoutId); // Stoppt das Update, wenn automatic ausgeschaltet wird
  }
});
</script>

<template>
  <v-btn :aria-label="darkMode ? tipDark : tipLight" :icon="true" @click="switchManually">
    <v-icon :icon="darkMode ? icons.night : icons.sunny"/>
    <v-tooltip :disabled="!tooltip" :text="darkMode ? tipDark : tipLight" activator="parent" location="start" scroll-strategy="none"/>
  </v-btn>
</template>
